# ======================
# QWEN FILES
# ======================
.qwen/settings.json
.qwen/plans/
memory/


# ======================
# BACKEND FILES
# ======================
data/
backend/vendor/

# ======================
# BACKEND FILES
# ======================
frontend/node_modules/
frontend/dist/
frontend/mockups/

# ======================
# CLAUDE FILES
# ======================
.claude/agent-memory
.claude/plans
.playwright-mcp/

# ======================
# MISC FILES
# ======================
.env
TODO.md
OLD/
scripts/
tests/